@media screen and (max-width:600px) {
    .nav-section .nav-logo img {
        width: 30px;
        height: 30px;
    }

    .nav-section .nav-logo h3.nav-title {
        color: #131318;
        font-size: 1.25rem;
        font-weight: 800;
    }

    .nav-section .nav-logo h3.nav-title span {
        color: #FF5400;
    }

    .nav-section .nav-menu {
        display: none;
    }

    .nav-section .menu-bar {
        display: block;
    }

    /* -----------Banner Section--------- */
    .banner-section {
        padding: 20px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        height: 90%;
        border-radius: 16px;
        text-align: center;
        position: relative;
    }

    .banner-section .banner-content h1.banner-title {
        font-size: 1.375rem;
    }

    .banner-section .banner-content p.banner-description {
        max-width: 310px;
        font-size: 0.875rem;
    }

    .banner-section .banner-content .banner-form {
        display: flex;
        flex-direction: column;
        padding: 16px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 8px;
        background: rgba(255, 255, 255, 0.30);
    }

    .banner-section .banner-content .banner-form>input,
    select {
        width: 100%;
    }

    .banner-section .banner-content .banner-form button.banner-btn {
        width: 100%;
    }


    /* ----------------Hero Section---------- */
    .hero-section {
        flex-direction: column-reverse;
        gap: 20px;
    }

    .hero-section .hero-content h1.hero-title {
        font-size: 1.25rem;
    }

    .hero-section .hero-content p.hero-description {
        margin: 16px auto;
        font-size: .87rem;
    }



    /* ------------Destination Section----------- */
    .destination-section h1.destination-title {
        font-size: 1.25rem;
    }

    .destination-section p.destination-description {
        margin: 16px auto;
        font-size: .87rem;
    }

    .destination-section .destination-place-images {
        width: 100%;
    }

    .destination-section .destination-place-images img {
        margin: 0;
        width: 100%;
        height: 200px;
    }

    .destination-section .destination-place-images img:nth-child(1) {
        grid-column: 1 /span 12;
    }

    .destination-section .destination-place-images img:nth-child(2) {
        grid-column: 1 /span 12;
    }

    .destination-section .destination-place-images img:nth-child(3) {
        grid-column: 1 /span 12;
    }

    .destination-section .destination-place-images img:nth-child(4) {
        grid-column: 1 /span 12;
    }

    .destination-section .destination-place-images img:nth-child(5) {
        grid-column: 1 /span 12;
    }

    .destination-section .destination-place-images img:nth-child(6) {
        grid-column: 1 /span 12;
    }

    .destination-section .destination-place-images img:nth-child(7) {
        grid-column: 1 /span 12;
    }

    /* ---------ChooseUs Section Start--------- */
    .chooseUs-section h2.chooseUs-title {
        font-size: 1.75rem;
    }

    .chooseUs-section p.chooseUs-description {
        max-width: 310px;
        margin: 16px auto;
        font-size: .87rem;
    }

    .chooseUs-section .chooseUs-cards .card-container {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    .chooseUs-section .chooseUs-cards .card-item:nth-child(1) {
        grid-column: 1 /span 12;
    }
    .chooseUs-section .chooseUs-cards .card-item:nth-child(2) {
        background: rgba(41, 206, 246, 0.05);
        grid-column: 1 /span 12;
    }
    
    .chooseUs-section .chooseUs-cards .card-item:nth-child(3) {
        background: rgba(233, 68, 68, 0.05);
        grid-column: 1 /span 12;
    }
    

    /* ---------Deals & Discount Section Start--------- */
    .dealnDiscount-section .dealnDiscount-item {
        margin-bottom: 30px;
    }

    .dealnDiscount-section .dealnDiscount-item {}

    .dealnDiscount-section .dealnDiscount-item .dealnDiscount-item-content {
        width: 350px;
        padding: 10px;
        border-radius: 16px;
        border: 2px solid #FFF;
        background: rgba(255, 255, 255, 0.80);
        backdrop-filter: blur(2.5px);
        position: relative;
        top: 30%;
        left: 0;
    }

    /* -------------Video Section--------- */
    .video-section {
        flex-direction: column;
        gap: 20px;
    }

    .video-section .video-section-content h1.video-title {
        font-size: 1.25rem;
        line-height: 30px;
    }

    .video-section .video-section-content p.video-description {
        margin: 16px auto;
        font-size: .87rem;
    }

    .video-section .video-section-video iframe {
        height: 320px;
    }


    /* -------------Offer Section------- */
    .countable-section .countable-container {
        flex-direction: column;
    }

    .countable-section .countable-container .traveler-data {
        width: 100%;
    }

    .countable-section .countable-container .v-line {
        width: 100%;
        height: 3px;
        background: rgba(19, 19, 24, 0.10);
        margin: 20px 0;
    }




    /* ------------Newslatter Section---------- */
    .newsletter-section {
        flex-direction: column;
        gap: 20px;
    }

    .newsletter-section .newsletter-image {
        width: 100%;
        position: relative;
    }

    .newsletter-section .newsletter-image img {
        width: 100%;
    }

    .newsletter-image .newsletter-image-text {
        background-color: #FF5400;
        width: 253px;
        height: 91px;
        transform: rotate(-30deg);
        padding: 20px;
        border-radius: 8px;
        position: absolute;
        top: 130px;
        left: 191px;
        margin: auto;
    }
    
    .newsletter-image .newsletter-image-text h4 {
        color: #FFF;
        text-align: center;
        font-family: Mulish;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .newsletter-image .newsletter-image-text h2 {
        color: #FFF;
        font-family: Mulish;
        font-size: 24px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        text-align: center;
    }

    /* ------------------Footer Section----------- */
    .footer-section .footer-logo img {
        width: 40px;
        height: 40px;
    }
    
    .footer-section .footer-logo h3.footer-title {
        color: #131318;
        font-size: 1.375rem;
        font-weight: 800;
    }
    
    .footer-section .footer-logo h3.footer-title span {
        color: #FF5400;
    }

}

@media screen and (min-width:992px) {
    .banner-section .banner-content .banner-form input,
select {
    font-size: 1rem;
}
.banner-section .banner-content .banner-form .banner-btn {
    font-size: 1rem;
    padding: 10px 20px;
    line-height: -14px;
}
.banner-section .banner-content .banner-form .banner-btn img {
    width: 14px;
    height: 14px;
}

.hero-section .hero-image img {
    height: 550px;
}






    .newsletter-section .newsletter-form {
        flex: 0 0 50%;
    } 
    
}